.commit {
    cursor: pointer;
}

.commit:hover {
    background-color: rgba(0,0,0,0.1);
}

.commit td {
    word-wrap: break-word;
}

.spinner {
    margin: 0 auto;
}

.container {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}