.home {
    position: relative;
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
}

.modal {
    position: abolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    background-color: white;
}
