
.input {
    /* margin: 10px; */
    margin-top: 10px;
    align-self: flex-end;
    justify-self: flex-end;
}

.header {
    margin-bottom: auto;
}

.list {
    overflow-y: scroll;
    max-height: 100%;
    scrollbar-color: #aaa transparent;
    word-break: break-word;
}

