.thoughtbox {
    grid-area: thought;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    max-height: 100%;
    overflow: hidden;
}

.input {
    font-size: 1em;
    font-family: inherit;
    resize: none;
}

.header {
    margin-bottom: auto;
}

.list {
    max-height: calc(100% - 30px);
    overflow-y: scroll;
}

