
.input {
    /* margin: 10px; */
    margin-top: 10px;
    grid-area: notes-field;
}

.header {
    margin-bottom: auto;
    grid-area: notes-header;
}

.list {
    overflow-y: scroll;
    max-height: 100%;
    scrollbar-color: #aaa transparent;
    word-break: break-word;
    grid-area: notes-list;
}

